<!--Footer-->
<hr />
<footer class="text-center font-small mt-4 wow fadeIn">
    <!--Call to action-->
    <div class="pt-4">
        <!--Subscribe-->
        <div class="col">
            <div class="card border-0">
                <div class="card-body text-center">
                    <h5><b>Subscribe to our newsletter</b></h5>
                    <div class="row text-center justify-content-center">
                        <div class="col-auto">
                            <div class="input-group-lg input-group mb-2">
                                <input type="text" class="form-control" placeholder="Enter your e-mail address" aria-label="Recipient's username" aria-describedby="button-addon2" />
                                <div class="input-group-append">
                                    <button class="btn primary-btn" type="button" id="button-addon2">
                    <b>Submit</b>
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Subscribe-->
    </div>
    <!--/.Call to action-->

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="navbar-brand pb-3">
                <div class="logo">
                    <a href="#">
                        <img class="navbar-logo" src="assets/imgs/logo.png" alt="logo" title="logo" />
                    </a>
                    <p class="mt-2 pb-3">
                        <a href="https://play.google.com/store/apps/details?id=com.nakafoods.app" target="_blank">
                            <img src="assets/imgs/google_play.png" class="play_img" alt="" />
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="mbr-row items mbr-white">
                <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                    <b>Address:</b>
                    <h5 class="contacts">
                        Mozart business Park <br /> Milton Keynes MK7 8ES
                    </h5>
                </div>
                <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                    <span class="mbr-iconfont listico mbri-pin" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>

                    <h5 class="contacts"><b>Phone:</b> +44 7864 234425</h5>
                </div>
                <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                    <span class="mbr-iconfont listico mbri-letter" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>

                    <h5 class="contacts"><b>Email:</b> info@nakamegastore.com</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="mbr-row items mbr-white">
                <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                    <a href="" class="nav-link waves-effect" target="_blank">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="" class="nav-link waves-effect" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="" class="nav-link waves-effect" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="nav-link waves-effect" target="_blank">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4" />

    <img class="payments" src="assets/imgs/payments.jpg" alt="" />

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © {{ getYear }} Copyright. Designed by
        <a href="http://nmap.co.zw">NMap Technologies</a>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->